<div class="post_info">
<div class="post_head">
<p><%= post.title%> by <%= post.author.name%></p>
<p class="post_like">Comments:<%=post.comments_counter || 0%>, Likes:<%=post.comments_counter || 0%></p>
</div>
<p><%= post.text %></p>
</div>