<div class="post_info">
<div class="post_head">
<p><%= post.title%> by <%= post.author.name%></p>
<p class="post_like">Comments:<%=post.comments_counter || 0%>, Likes:<%=post.likes_counter || 0%></p>
</div>
<div class="like-form" >
                    <%= form_with model: :like, method: :post, url: new_user_like_path, local: true, scope: :new_like do |form| %>
                        <%= form.submit "Like", class: "btn btn-primary see_all_post" %>
                        <%= form.hidden_field :post_id, value: @post.id %>
                    <% end %>
                </div>
<p><%= post.text %></p>
</div>